<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Carrito de Reservas</title>
</head>
<body>

<h1>Carrito de Reservas</h1>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Habitación</th>
            <th>Fecha de Inicio</th>
            <th>Total</th>
            <th>Estado</th>
            <!-- Agregar más columnas según sea necesario -->
        </tr>
    </thead>
    <tbody>
        <tr th:each="reserva : ${reserva}">
            <td th:text="${res.id}"></td>
            <td th:text="${res.cliente.nombre}"></td>
            <td th:text="${res.habitacion.numero}"></td>
            <td th:text="${res.fechaInicio}"></td>
            <td th:text="${res.total}"></td>
            <td th:text="${res.estado}"></td>
            <!-- Agregar más celdas según sea necesario -->
        </tr>
    </tbody>
</table>

</body>
</html>